# Telegram Bot Token
TELEGRAM_BOT_TOKEN=your_telegram_bot_token_here
# YouTube Channels (comma-separated list of channel URLs)
# Рекомендуется указывать ссылку на канал, не handle
# Example:
YT_CHANNELS=https://www.youtube.com/@Chipovshchik
# Other configuration variables
# Add any additional environment variables your bot needs here
